In [1]:
import pandas as pd
import numpy as np
#from dataprep.datasets import load_dataset   # Used to import / load dataset
#from dataprep.eda import create_report   # Used to load Report formate

In [2]:
df=pd.read_csv(r'D:\anaconda\envs\lab5\5_features_extracted.csv', index_col=['Datetime'], parse_dates=['Datetime'])
df.head()

,aep,year_day,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
Datetime,,,,,,,,,,,
2004-12-31 01:00:00,13478.0,366,1,0,1,0,0,0,1,12,4
2004-12-31 02:00:00,12865.0,366,1,0,1,0,0,0,2,12,4
2004-12-31 03:00:00,12577.0,366,1,0,1,0,0,0,3,12,4
2004-12-31 04:00:00,12517.0,366,1,0,1,0,0,0,4,12,4
2004-12-31 05:00:00,12670.0,366,1,0,1,0,0,0,5,12,4

In [3]:
print('pearson\n\n',df.corrwith(df["aep"],method="pearson"))

pearson

 aep            1.000000
year_day      -0.124691
holiday       -0.053245
weekend       -0.267134
winter         0.328248
spring        -0.246479
summer         0.139761
fall          -0.220948
hour           0.420954
month         -0.125964
day_of_week   -0.219889
dtype: float64

In [4]:
print('kendall\n\n',df.corrwith(df["aep"],method="kendall"))

kendall

 aep            1.000000
year_day      -0.082653
holiday       -0.041133
weekend       -0.217919
winter         0.278512
spring        -0.197668
summer         0.098096
fall          -0.178494
hour           0.292486
month         -0.085643
day_of_week   -0.158005
dtype: float64

In [5]:
print('spearman\n\n',df.corrwith(df["aep"],method="spearman"))

spearman

 aep            1.000000
year_day      -0.123327
holiday       -0.050374
weekend       -0.266880
winter         0.341086
spring        -0.242079
summer         0.120136
fall          -0.218596
hour           0.431731
month         -0.123519
day_of_week   -0.219444
dtype: float64

In [6]:
df.isnull().sum()

aep            0
year_day       0
holiday        0
weekend        0
winter         0
spring         0
summer         0
fall           0
hour           0
month          0
day_of_week    0
dtype: int64